.page{
    width:100vw ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    display: flex;
    flex-direction: column;
    background-color: rgb(179, 176, 174);
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
